<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>
</head>
<body>
    <h2> Add new user form</h2>
    <!--the /user/add/submit is another controller for handle the submit form-->
    <!--use the method post in html-->
    <form action="/user/add/submit" method="post" th:object="${user}">
        <div class="form-row">
            <div class="form-group col-md-2">
                <input type="number" class="form-control" th:field="*{id}" placeholder="ID">
                <span style="color: red;" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
                <br>
                <br>
                <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
                <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}"></span>
                <br>
                <br>
                <select th:field="*{gender}" class="form-control">
                    <option value="selected">Gender</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <br>
        </div>
    </form>
    <br>


</body>
</html>