<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>
</head>
<body>
    <h2> Add new user form</h2>
    <!--the /user/add/submit is another controller for handle the submit form-->
    <!--use the method post in html-->
    <form action="/product/add/submit" method="post" th:object="${product}" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-2">
                <input type="number" class="form-control" th:field="*{id}" placeholder="ID">
                <br>
                <br>
                <input type="text" class="form-control" th:field="*{productName}" placeholder="Product Name">
                <br>
                <br>
                <input type="number" class="form-control" th:field="*{productPrice}" placeholder="Product Price">
                <input type="file" name="my-file">
                <br>
                <br>
                <input type="file" name="my-file" multiple="multiple">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <br>
        </div>
    </form>
    <br>


</body>
</html>