<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <script>
        $(document).ready(function () {

            $('.btn-delete').on('click', function () {
                var userId = $(this).attr('data-id');
                if (confirm("Do you want to delete?")){
                    window.location = 'http://localhost:8080/user/delete/' +userId;
                }


            })

        })
    </script>
</head>
<body>
    <!--[[${userList}]]-->
    <!--<h1 th:text="${userList}"></h1>-->
    <div class="container">
        <div class="row">
            <a href="?language=km">ខ្មែរ</a>
            <a href="?language=en">English</a>
        </div>

    </div>

    <br>
    <br>
    <div class="container">
        <a href="/user/add" th:text="#{addnew}">Add new user</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u:${userList}">
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getName()}"></td>
            <td th:text="${u.getName()}"></td>
            <td>
                <a th:href="@{/user/one/{user_id} (user_id = ${u.getId()})}">View</a>
                <a th:href="@{/user/update/{id}(id=${u.getId()})}">Update</a>
                <button th:attr="data-id=${u.getId()}" class="btn-delete">Delete</button>

            </td>
        </tr>

        </tbody>
    </table>
    </div>

    <!--<table border="1">-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>Name</th>-->
            <!--<th>Gender</th>-->
            <!--<th>Action</th>-->
        <!--</tr>-->
        <!--<tr th:each=" u : ${userList}">-->
            <!--<td th:text="${u.getId()}"></td>-->
            <!--<td th:text="${u.getName()}"></td>-->
            <!--<td th:text="${u.getGender()}"></td>-->
            <!--<td>-->
                <!--<a th:href="@{/user/one/{user_id}(user_id = ${u.getId()})}">view</a>-->
                <!--<a th:href="@{/user/update/{id}(id=${u.getId()})}">update</a>-->
                <!--<button th:attr="data-id=${u.getId()}" class="btn-delete">Delete</button>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
</body>
</html>